{% extends "base.html" %}
{% block content %}
  <h1>Screwdriver</h1>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Nimi:</strong> Screwdriver</li>
    <li><strong>Muut nimet:</strong> </li>
    <li><strong>Juomaluokka:</strong> Cocktail</label></li>
    <li><strong>Suositeltu lasi:</strong> Highball-lasi</li>
    <li><strong>Raaka-aineet:</strong> <label class="table table-striped"> 
      <tr>
        <td> Vodka </td>
        <td> 4 cl </td>
      </tr>
      <tr>
        <td> Appelsiinimehu </td>
        <td> 8 cl </td>
      </tr>
    
</table></li>
    <li><strong>Lisäyspäivä:</strong> 19.3.2015</li>
    
  </ul>
  <!-- Valmistusohje ja kuvaus tulee tähän -->
  <p>
    Kaada vodka ja appelsiinimehu jäillä täytettyyn lasiin. Koristele appelsiinin viipaleella.
  </p>
{% endblock %}
